<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      height: 500px;
      width: 1200px;
      margin-left: 100px;
      border-radius: 15px;
      
     
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #1976d2;
      color: white;
    }
    </style>

    
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white; text-align: center;">Available Flights</h1>
    
    <table id="customers">
      <tr>
        <th>Flight Number</th>
        <th>From</th>
        <th>To</th>
        <th>Dep. time</th>
        <th>Arr. time</th>
        <th>Duration</th>
      </tr>
      <tr>
        <td>351-DL</td>
        <td>LGR</td>
        <td>ATL</td>
        <td>06:00</td>
        <td>08:15</td>
        <td>2:15</td>
      </tr>
      <tr>
        <td>19-DL</td>
        <td>EWR</td>
        <td>ATL</td>
        <td>06:00</td>
        <td>08:20</td>
        <td>2:30</td>
      </tr>
      <tr>
        <td>9082-DL</td>
        <td>JKF</td>
        <td>ATL</td>
        <td>06:00</td>
        <td>08:20</td>
        <td>2:30</td>
      </tr>
      
    </table>
    
