<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      height: 500px;
      width: 1200px;
      margin-left: 150px;
      border-radius: 15px;
      
     
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #1976d2;
      color: white;
    }
    </style>

    
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white; text-align: center;">Available Trains</h1>
    

    
    <table id="customers">
      <tr>
        <th>Train No.</th>
        <th>From</th>
        <th>Dep. Time</th>
        <th>To</th>
        <th>Arr. Time</th>
        <th>Frequency</th>
      </tr>
      <tr>
        <td>02301</td>
        <td>Howrah</td>
        <td>17:05</td>
        <td>New Delhi</td>
        <td>10:00</td>
        <td>Daily</td>
      </tr>
      <tr>
        <td>02302</td>
        <td>New Delhi</td>
        <td>06:15</td>
        <td>Howrah</td>
        <td>09:55</td>
        <td>Biweekly</td>
      </tr>
      <tr>
        <td>020951</td>
        <td>Mumbai Central </td>
        <td>17:30</td>
        <td>New Delhi</td>
        <td>10:00</td>
        <td>Daily</td>
      </tr>
      <tr>
        <td>02902</td>
        <td>Ahemdabad</td>
        <td>12:05</td>
        <td>New Delhi</td>
        <td>17:00</td>
        <td>Daily</td>
     </tr>
      <tr>
        <td>023921</td>
        <td>Mumbai Central</td>
        <td>17:05</td>
        <td>Bengluru</td>
        <td>10:00</td>
        <td>Daily</td>
      </tr>
      <tr>
        <td>02304</td>
        <td>Ranchi</td>
        <td>16:05</td>
        <td>Chennai</td>
        <td>09:00</td>
        <td>Biweekly</td>
      </tr>
      <tr>
        <td>02301</td>
        <td>Mumbai Central</td>
        <td>17:05</td>
        <td>New Delhi</td>
        <td>10:00</td>
        <td>Daily</td>
      </tr>
      <tr>
        <td>02301</td>
        <td>Howrah</td>
        <td>17:05</td>
        <td>New Delhi</td>
        <td>10:00</td>
        <td>Daily</td>
      </tr>
      <tr>
        <td>02301</td>
        <td>Howrah</td>
        <td>17:05</td>
        <td>New Delhi</td>
        <td>10:00</td>
        <td>Daily</td>
      </tr>

    </table>

      