.firstdiv{
    align-self: center;
    background-color:wheat;
    height: 550px;
    width: 500px;
    margin-left: 500px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    
}

